* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #edeef0;
    font-family: "Segoe UI", sans-serif;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
  background-color: #507299;
  padding: 8px 0 2px 0;
  position: fixed;
  width: 100%;
}

.logo {
  margin-left: 15%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  flex: 1;
  margin-top: 60px;
}

.publications {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.publication {
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px #d0d0d0;
  width: 420px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.content {
  text-align: justify;
  line-height: 120%;
  display: flex;
  justify-content: center;
}

.content::selection {
  background-color: #e1e5eb;
  color: green;
}

.line {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #d0d0d0;
  margin: 9px 0 7px 0;
}

.line__full__width {
  content: "";
  height: 4px;
  width: 110%;
  background-color: #d0d0d0;
  margin: 9px 0px 7px -5%;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -5px;
}

button {
  border: none;
  background-color: #fff;
  color: #2e5473;
  font-size: 16px;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.content img {
  height: 323px;
  margin-bottom: 5px;
}

.LeftSide {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 0 45px;
}

.RightSide {
  height: auto;
  width: auto;
  padding: 0px 15px 0 45px;
  margin-left: 120px;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: fixed;
}

.info__block {
  height: auto;
  width: 135px;
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 5px;
  border: solid 1px #d0d0d0;
}

.info__block p {
  background-color: #e1e5eb;
  color: #000;
  line-height: 105%;
}

.info__block p:last-child {
  margin-top: 20px;
}

.info__block h3 {
  margin-left: 5px;
  font-size: 16px;
  line-height: 100%;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 190px;
  height: auto;
}

.navigation a {
  color: #2e5473;
  text-decoration: none;
  padding: 10px;
}

.navigation a:hover {
  background-color: #e1e5eb;
  border-radius: 5px;
}

footer {
  background-color: #fff;
  text-align: center;
  padding: 2px 0 3px 0;
}

footer h2 {
  font-size: 16px;
  font-weight: 400;
  color: #d0d0d0;
}



@media (max-width: 1200px) {
  .RightSide {
    display: none;
  }
}

@media (max-width: 760px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .navigation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
  }

  .LeftSide {
    padding: 0px 0px 40px 0px;
  }
}
